//faq
  .s-faq{
    background: rgba($color: $yellow, $alpha: 0.1);
    .card, .accordion-item{
      margin-bottom: 30px;
      border: 0;
      @include border-radius(0px);
      border-bottom: 1px solid $white;
      .card-header, .accordion-header{
        border: 0;
        padding: 0;
        background-color: $white;
        cursor: pointer;
        button{
          cursor: pointer;
          border: none;
          color: $black;
          display: block;
          text-align: left;
          background: $white;
          font-weight: bold;
          font-size: large;
          width: 100%;
          padding: 20px;
          @include border-radius(0px);
          padding-left: 10px;
          padding-right: 10px;
          &::after{
            font-family: simple-line-icons;
            content: "\e078";
            font-weight: 900;
            float: right;
          }
          &:focus{
            outline:0px;
            color: $orange;
          }
        }
        button.collapsed:after{
          content: "\e07b";
          font-family: simple-line-icons;
          font-weight: 900;
        }
      }
    }
  }

  .s-content #faq .card .card-header .btn-header-link.collapsed {
    background: $white;
    color: $black;
    font-weight: bold;
    @include border-radius(0px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .s-content #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\e07b";
    font-family: simple-line-icons;
    font-weight: 900;
  }

  .s-content #faq .card .collapsing {
    background: $white;
    line-height: 30px;
  }

  .s-content #faq .card .collapse {
    border: 0;
  }

  .s-content #faq .card .card-body {
    color: $black !important;
    background: $white;
    @include border-radius(4px);
  }

  .s-content #faq .card .collapse.show {
    background: $white;
    line-height: 30px;
    color: $black;
  }


